@{
    ViewData["Title"] = "Home page";
    bool isAdmin = User.IsInRole("Admin");
}

<div id="app">
    <h1>Home Page</h1>
    <a href="@Url.Action("Index", "Items")">Items</a>
    <home-component :is-admin="@isAdmin.ToString().ToLower()" customers-url="@Url.Action("Index", "Customers")"></home-component>
</div>

@section scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}