/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f6f6f6;
  font-family: Montserrat,sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #232323;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
          transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
     -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

h1 {
  font-weight: 700;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
}

#app {
  margin: 0 auto;
}

/* BUTTONS STYLE */
.btn {
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  display: inline-block;
  border: initial;
  vertical-align: middle;
}

.white, .red {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: .65em 1.3em;
  position: relative;
  transition: all 700ms ease;
}

.white {
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;
  z-index: 1;
}

.white:hover {
  color: #fff;
  background-color: #333;
}


.red {
  color: #fff;
  background-color: #e06149;
  border: 1px solid #e06149;
  z-index: 1;
}

.red:hover {
  color: #e06149;
  background-color: #fff;
}


/*  HEADER   */
header {
  background-color: #343434;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 3px solid #5f5f5f;
  position: relative;
}


.navigation__block .nav {
  display: flex;
}

.navigation__block .nav li {
  display: block;
}

.nav li {
  margin-left: 15px;
}

.nav li a {
  font-size: 20px;
}

.nav li a:hover {
  color: #e06149;
}


.user__actions {
  margin-left: auto;
  display: flex;
}

.user__info {
  color: #fff;
  margin-right: 10px;
}

.user__actions .reg__auth {
  position: relative;
}

.last-header-btn {
  margin-left: 10px;
}

.user__info {

}

/*  REGISTRATION   */
.form__block {
  margin: 100px auto;
  text-align: center;
}

.form-submit {
  margin-top: 15px;
}

.form-submit .form-group input {
    height: 65px;
    border: 1px solid #cdd0d1;
    border-radius: 9px;
    background-color: transparent;
    margin-bottom: 20px;
    font-family: Montserrat,sans-serif;
    font-weight: 200;
    font-size: 1rem;
    width: 400px;
    padding: 0 10px;
}



/*  ITEMS   */
.items a {
  color: #333;
}

.item__block {
  position: relative;
  background-color: #f0f0f0;
}

.item__inner {
  display: flex;
}