@{
    ViewData["Title"] = "New Item";
}

<div id="app">
    <create-component create-url="@Url.Action("Create")" index-url="@Url.Action("Index", "Home")"></create-component>
</div>

@section scripts{
    <script src="~/js/items.js" asp-append-version="true"></script>
}