@{
}

<div id="app">
    <create-component create-url="@Url.Action("Create", "Items")" 
                      index-url="@Url.Action("Index", "Items")"></create-component>
</div>

@section scripts{
    <script src="~/js/items.js" asp-append-version="true"></script>
}