@{
    ViewData["Title"] = "Items";
    var isAdmin = User.IsInRole("Admin");
}

<div id="app">
    <index-component :is-admin="@isAdmin.ToString().ToLower()" items-url="@Url.Action("ItemsData", "Items")"
                    edit-url="@Url.Action("Edit", "Items")" create-url="@Url.Action("Create", "Items")"></index-component>
</div>

@section scripts{ 
    <script src="~/js/items.js" asp-append-version="true"></script>
}