@{
    ViewData["Title"] = "Edit customer";
}

<div id="app">
    <edit-component edit-url="@Url.Action("Edit", "Customers", new { Id = ViewBag.Id })" 
                    details-url="@Url.Action("CustomerDetails", "Customers", new { Id = ViewBag.Id })"></edit-component>
</div>

@section scripts{
    <script src="~/js/customers.js" asp-append-version="true"></script>
}