@{ 
    
}
    <div id="app">
        <login-component login-url="@Url.Action("Login", "Account")"
                         index-url="@Url.Action("Index", "Home")"></login-component>
    </div>

@section scripts{
    <script src="~/js/account.js" asp-append-version="true"></script>
 }

