@*@model LoginModel*@

@*<h1>Login</h1>
<div>
    <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
        <div asp-validation-summary="All">
            <div>
                <label asp-for="UserName"></label>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
        </div>
    </form>
</div>*@

@{ 
    ViewData["Title"] = "Login";
}

    <div id="app">
        <login-component login-url="@Url.Action("Login", "Account")"></login-component>

        <a href="@Url.Action("Registration", "Account")">Зарегистрироваться</a>
    </div>

@section scripts{
    <script src="~/js/account.js" asp-append-version="true"></script>
 }

