
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<div id="app">
    <register-component></register-component>
</div>

@section scripts{
    <script src="~/js/account.js"></script>
}