
@{
}

<div id="app">
    <register-component register-url="@Url.Action("Registration", "Account")"
                        index-url="@Url.Action("Index", "Home")"></register-component>
</div>

@section scripts{
    <script src="~/js/account.js"></script>
}